*{
    margin: 0;
    padding: 0px;
    border: border-box;
}
.navbar{
    display: flex;
    gap: 12px;
    font-size: 26px;
    border: 2px solid;
    margin: 7px;
    border-radius: 10px;
    align-content: stretch;
    justify-content: center;
    /* align-items: baseline; */
    flex-wrap: nowrap;
}
h2{
    font-size: 2rem;
    /* margin-left: 40px; */
    text-align: center;
    font-family: cursive;
    padding-top: 1px; 
}
.navbar a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    font-family: system-ui;
    transition: 1s cubic-bezier(0.42, 0, 0.64, 0.75);
}
.navbar a:hover{
    background: aquamarine;
    border: 2px solid;
    border-radius: 13px;
    padding: 1px;
    transform: scale(1.2);
}
#about{
    background-color: blueviolet;
    color: white;
    font-family: system-ui;
    font-size: 10px;
    /* height: 100vh; */
    /* width: 100vw; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    margin: 20px;
    border-radius: 10px;
}
.aboutContainer{
    display: flex;
    margin: 38px;
}
.aboutContainer p{
    font-size: 2rem;
    border: 1px solid black;
    margin-right: 12px;
    border-radius: 9px;
    padding: 13px;
}

#genres{
    margin-left: 35px;
    font-size: 20px;
    background-color: cadetblue;
    /* width: 100vw; */
    /* height: 100vh; */
    margin: 18px;
    border-radius: 10px;
    font-size: 32px;
    padding-bottom: 30px;
}
.ulli{
    margin-left: 50px;
    margin-left: 50px;
    padding: 20px;
    border: 6px solid white;
    border-radius: 13px;
    text-align: center;
}
.ulli li{
    border: 1px solid;
    padding: 13px;
    margin: 22px;
    font-family: math;
    border-radius: 10px;
}
.genresContainer{
    display: flex;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-around;
}
header{
    
    text-align: center;
    border: 3px solid;
    /* width: 33rem; */
    padding: 12px;
    background: bisque;
    font-family: math;
    border-radius: 16px;
    font-size: 36px;

}

#contacts{
    margin: 31px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: darkturquoise;
    border-radius: 20px;
}

#contacts table{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
input {
     padding: 3px;
     border: 2px solid;
}
textarea{
    padding: 10px;
    width: 328px;
}
